./bin/*
./.vscode/*
./obj/*
.\bin\*
bin\*
bin/*
*.dll
*.pdb
*.cache
*.cache
*.cache
*.cache
*.editorconfig
bin/Debug/net6.0/YuDian.dll
bin/Debug/net6.0/YuDian.exe
bin/Debug/net6.0/YuDian.pdb
bin/Debug/net6.0/YuDian.staticwebassets.runtime.json
obj/project.assets.json
obj/project.nuget.cache
obj/staticwebassets.pack.sentinel
obj/YuDian.csproj.nuget.dgspec.json
obj/YuDian.csproj.nuget.g.props
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/project.razor.json
obj/Debug/net6.0/staticwebassets.build.json
obj/Debug/net6.0/staticwebassets.development.json
obj/Debug/net6.0/YuDian.assets.cache
obj/Debug/net6.0/YuDian.csproj.AssemblyReference.cache
obj/Debug/net6.0/YuDian.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/YuDian.csproj.FileListAbsolute.txt
obj/Debug/net6.0/YuDian.dll
obj/Debug/net6.0/YuDian.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/YuDian.genruntimeconfig.cache
obj/Debug/net6.0/YuDian.pdb
obj/Debug/net6.0/ref/YuDian.dll
bin/Debug/net6.0/YuDian.deps.json
Program.cs
