@{
    ViewData["Title"] = "註冊帳號";
}

<form method="post" asp-controller="SignIn" asp-action="SignUp">
    <h2><span class="badge bg-secondary">註冊帳號</span></h2>
    <div class="mb-3">
        <label for="UserName" class="form-label">姓名</label>
        <input type="text" class="form-control" id="UserName" readonly value=@ViewBag.Name>
    </div>
    <div class="mb-3">
        <label for="UserEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="UserEmail" aria-describedby="emailHelp" value=@ViewBag.Email
            readonly>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="UserID" class="form-label">身分證字號</label>
        <input type="text" class="form-control" id="UserID" aria-describedby="IdHelp" name="UserID"
            aria-describedby="UserIDFeedback" required>
        <div id="IdHelp" class="form-text">We'll never share your identity number with anyone else.</div>
        <div id="UserIDFeedback" class="invalid-feedback">
            Please provide a valid city.
        </div>
    </div>
    <div class="mb-3">
        <label for="UserPhone" class="form-label">電話</label>
        <input type="tel" class="form-control" id="UserPhone" name="UserPhone">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
@section scripts{
<script type="text/javascript">
    $(document).ready(() => {
        $("#UserID").blur(checkIdentity);
        $("#UserPhone").blur(checkPhone);
        function checkIdentity(item) {
            SetInvalid($(item.target));
            let identity = $(item.target).val();
            if (!/^[A-Z][1|2][0-9]{8}$/.test(identity)) {
                SetInvalid($(item.target), "不符合基本規則!");
                return;
            }

            let compareTable = [10, 11, 12, 13, 14, 15, 16, 17, 34, 18, 19, 20, 21, 22, 35, 23, 24, 25, 26, 27, 28, 29, 32, 30, 31, 33];

            let temp = 0;
            temp += parseInt(compareTable[identity.charCodeAt(0) - 65] / 10);
            temp += (compareTable[identity.charCodeAt(0) - 65] % 10) * 9;
            for (let i = 1; i < 9; i++) temp += (9 - i) * parseInt(identity[i]);
            SetInvalid($(item.target), (temp += parseInt(identity[9])) % 10 ? "無法通過身分證驗證!" : undefined);
        }

        function checkPhone(item) {
            let phone = $(item.target).val();
            SetInvalid($(item.target), /0[0-9]{8,9}/.test(phone) ? undefined : "不符電話機本規則!");
        }
        function SetInvalid(jqueryItem, ReportMessage = "") {
            if (ReportMessage.length) jqueryItem.addClass("is-invalid").removeClass("is-valid");
            else jqueryItem.removeClass("is-invalid").addClass("is-valid");
            jqueryItem[0].setCustomValidity(ReportMessage);
        }
    });
</script>
}